import {CommonSeo} from './utils/SeoConst.js'
export default {
   title: CommonSeo.DEFAULT_TITLE,
  description: CommonSeo.DEFAULT_DESCRIPTION,
  openGraph: {
    type: 'website',
    locale: 'en_IE',
    url: 'https://nisheetabajaj.com',
    siteName: 'Meditation With Nisheeta Bajaj Janssens',
  },
  twitter: {
    handle: '@nisheetabajaj',
    site: '@nisheetabajaj',
    cardType: 'summary_large_image',
  },
}